:root{
    --bridge-primary-color: #00C6A2;
    --bridge-primary-color-rgb: 0,198,162;
    --bridge-primary-color-hover: #008B72;
    --bridge-primary-color-hover-rgb: 0,139,114;
    --bridge-default-color: #7E8A93;
    --bridge-border-color: #2B3E4C;
    --bridge-danger-color: #E77078;
    --toastify-color-success: #32CA82;
    --toastify-color-dark:#213441;
   
}

.svg-icon-wrapper{
    @apply inline-flex fill-current items-center justify-center;
    width: 1em;
    height: 1em;
    line-height: 1em;
    color: inherit;
}
.svg-icon{
    width: 1em;
    height: 1em;
}

.modal-overlay{
    @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-80;
    z-index: 1000;
}

/** reset toast style */
.Toastify__toast-body > div:first-child{
    width: 20px;
    height: auto;
}

.text-primary{
    color: var(--bridge-primary-color) !important;
}
.text-danger{
    color: var(--bridge-danger-color) !important;
}
.bg-primary{
    background-color: var(--bridge-primary-color) !important;
}

.bridge-page {
    color:var(--bridge-default-color);
    @apply h-full flex-1 text-sm;
}


.bridge-entry-container{
    @apply  m-auto mt-20 xs:mt-0;
    width: 428px; 
    max-width: 90vw;
}
.bridge-history-container{
    @apply  m-auto mt-20 px-4 box-content xs:mt-2;
    max-width: 900px; 

}
.bridge-plane{
    @apply p-4 border rounded-2xl border-solid flex-col gap-4;
    border-color: var(--bridge-border-color);
    background: linear-gradient(180deg, #213441 0%, #15242F 100%);
}
.bridge-modal{
    @apply w-full p-4 border rounded-2xl border-solid flex-col gap-4 shadow-4xl text-sm;
    border-color: var(--bridge-border-color);
    background:#1D2932;
    color:var(--bridge-default-color);
    max-width: 90vw;
}

.bridge-input{
    @apply flex items-center text-white p-2 pr-8 rounded-md border border-solid leading-5;
    background-color: rgba(11, 12, 19, 0.30);
    border-color: var(--bridge-border-color);
}
.bridge-input.small{
    @apply px-2 py-1;
}
.bridge-input:hover{
    @apply transition-colors;
    border-color: var(--bridge-default-color);
}
.bridge-input:focus, .bridge-input.is-focus{
    @apply border-primary transition-colors;
    border-width: 1px;
}
.bridge-input.is-warning{
    @apply border-warn;
}
.bridge-input.is-error{
    border-color: var(--bridge-danger-color)
}

.bridge-checkbox{
    @apply w-4 h-4 appearance-none text-green-600  rounded focus:ring-green-600 ring-offset-gray-800 focus:ring-2 bg-gray-900 border border-gray-700;
}
.bridge-checkbox:checked{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M1 5.917 5.724 10.5 15 1.5'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 0.55em 0.55em;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: currentColor;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 0.55em 0.55em;
    border-color: transparent;
}

.bridge-table{
    @apply w-full;
    border-collapse: collapse;
}
.bridge-table tr:not(:last-child){
    @apply border-b ;
    border-color: var(--bridge-border-color);
}

.bridge-table th{
    @apply text-left text-sm p-2;
}
.bridge-table td{
    @apply text-left text-sm px-2 py-3 text-white;
}


.bridge-input-token{
    @apply flex-col border rounded-xl border-solid border-gray-700 p-3;
}

.bridge-status-process{
    @apply relative px-10;
}
.bridge-status-process::before{
    @apply absolute left-1 top-1/2 w-9 h-1;
    content: "";
    background: url('./assets/line.svg') no-repeat center;
}
.bridge-status-process::after{
    @apply absolute right-1 top-1/2 w-9 h-1;
    content: "";
    background: url('./assets/line.svg') no-repeat center;
}

.animate-waiting{
    animation: animate-waiting  3s ease-in-out infinite;
}
@keyframes animate-waiting {
    0% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.animate-fadeIn {
    opacity: 0;
    animation: animation-fadeIn 0.3s forwards;
    animation-delay: 0.2s;
}

@keyframes animation-fadeIn {
    to {
        opacity: 1;
    }
}
