{
  "presets": [
    ["@babel/preset-env", {
      "modules": false
    }],
    ["@babel/typescript"],
    ["@babel/preset-react"]
  ],
  "plugins": [],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    }
  }
}
