* {
  box-sizing: border-box;
}

html {
  --bg: white;
  --fg: #1e1e1e;
  --gray: #555;
  --light-gray: #ccc;
  --shadow: #e6e6e6;
  --success: rgb(90, 206, 132);
  --primary: #ff585d;
  --secondary: #0072ce;

  background-color: var(--bg);
  color: var(--fg);
  font-family: Roboto, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

body {
  margin: 0;
  background: url(./assets/images/pixel-magic-background.jpg) center;
  background-size: cover;
}

main {
  margin: 0 auto;
}

input {
  margin: 0;
  background-color: transparent;
  display: block;
  width: 100%;
  padding: 0;
  border-width: 0;
}

input:focus {
  outline: none;
  border-width: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[disabled] {
  color: black;
  opacity: 1 !important;
}
input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}
