.modal-transaction-submitting .modal-dialog {
  text-align: center;
}
.modal-transaction-submitting .modal-content {
  min-width: 350px;
  width: auto;
  display: inline-block;
}

.modal-transaction-submitting .modal-body {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /*display: inline-block;*/
}

.modal-transaction-submitting .-loading-info {
  display: flex;
  justify-content: flex-end;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  min-height: 140px;
}

.modal-transaction-submitting .-token-info {
  font-size: 14px;
}

@media (max-width: 767px) {
  .modal-transaction-submitting .modal-content {
    width: 100%;
    word-break: break-word;
  }
}
