.modal-transaction-submitting .modal-dialog {
  text-align: center;
}

.modal-transaction-submitting .modal-body {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /*display: inline-block;*/
}

.modal-transaction-submitting .-loading-info {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: center;
  min-height: 150px;
}

.modal-transaction-submitting .-token-info {
  font-size: 14px;
}

@media (min-width:769px) {
  .modal-transaction-submitting .modal-content {
    min-width: 350px;
    width: auto;
    display: inline-block;
  }
}